.image {
    width: 50%;
}

.image img {
    width: 100%;
}

.image.transform {
    background: url('../../images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 46.9rem;
}

.image.standOut {
    background: url('../../images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 46.9rem;
}

.image.graphicDesign {
    background: url('../../images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    padding: 2rem 6rem;
}

.image.graphicDesign h1 {
    margin-top: 30rem;

    text-align: center;
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.image.graphicDesign p {
    margin-top: 3rem;

    text-align: center;
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', serif;
    font-weight: 600;
}

.image.photography {
    background: url('../../images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    padding: 2rem 6rem;
}

.image.photography h1 {
    margin-top: 30rem;

    text-align: center;
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.image.photography p {
    margin-top: 3rem;

    text-align: center;
    color: hsl(198, 62%, 26%);
    font-family: 'Barlow', serif;
    font-weight: 600;
}

.image.milk {
    background: url('../../images/desktop/image-gallery-milkbottles.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 45rem;
    width: 25%;
}

.image.orange {
    background: url('../../images/desktop/image-gallery-orange.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 45rem;
    width: 25%;
}

.image.cone {
    background: url('../../images/desktop/image-gallery-cone.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 45rem;
    width: 25%;
}

.image.sugar {
    background: url('../../images/desktop/image-gallery-sugarcubes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 45rem;
    width: 25%;
}

@media screen and (max-width: 750px) {
    .image {
        width: 100%;
    }

    .image.graphicDesign,
    .image.photography {
        padding: 4rem 6rem;
    }

    .image.milk {
        background: url('../../images/mobile/image-gallery-milkbottles.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        height: 30rem;
        width: 50%;
    }

    .image.orange {
        background: url('../../images/mobile/image-gallery-orange.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        height: 30rem;
        width: 50%;
    }
    
    .image.cone {
        background: url('../../images/mobile/image-gallery-cone.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        height: 30rem;
        width: 50%;
    }
    
    .image.sugar {
        background: url('../../images/mobile/image-gallery-sugar-cubes.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        height: 30rem;
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .image.transform {
        background: url('../../images/mobile/image-transform.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .image.standOut {
        background: url('../../images/mobile/image-stand-out.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .image.graphicDesign {
        background: url('../../images/mobile/image-graphic-design.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .image.photography {
        background: url('../../images/mobile/image-photography.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .image.milk, 
    .image.orange,
    .image.cone,
    .image.sugar  {
        height: 20rem;
    }
}